    /*mobile styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    background-image: url("notebook-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    color: white; 
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
    
header {
    font-size: 1.5rem;
}
    
header, form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
form input, form button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background: white;
}
    
form input {
    width: 70%;
}
    
form button {
    background: #187bd8;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
    
    
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.todo-list {
    min-width: 70%;
    list-style: none;
}
    
.todo {
    margin: 1rem;
    background: white;
    color: black;
    font-size: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
    
.todo li {
    flex: 1;
}
    
.trash-btn, .complete-btn {
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
    
.complete-btn {
    background: #09ca29;
    color: white;
}
    
.trash-btn {
    background: #ff6f47;
    color: white;
}
    
.todo-item {
    padding: 0rem 0.5rem;
}
    
.fa-trash, .fa-check {
    pointer-events: none;
}
    
.complete {
    text-decoration: line-through;
    opacity: 0.5;
}
    
.fall {
    transform: translateY(15rem) rotateZ(125deg);
    opacity: 0;
}

    /*tablet/small screen styling*/
@media (min-width: 500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-image: url("notebook-background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: white;
        color: white; 
        font-family: "Poppins", sans-serif;
        min-height: 100vh;
    }
    
    header {
        font-size: 1.5rem;
    }
    
    header, form {
        min-height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    form input, form button {
        padding: 1rem;
        font-size: 1rem;
        background: white;
    }

    form input {
        width: 65%;
        border: 2px solid black;
    }
    
    
    form button {
        background: #187bd8;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    form button:hover {
        color: #187bd8;
        background: white;
    }
    
    .todo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .todo-list {
        min-width: 70%;
        list-style: none;
    }
    
    .todo {
        margin: 0.5rem;
        background: #ffffff;
        color: black;
        font-size: .75rem;
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease;
    }
    
    .todo li {
        flex: 1;
    }
    
    .trash-btn, .complete-btn {
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
    }
    
    .complete-btn {
        background: #ffffff;
        color: #09ca29;
    }
    .complete-btn:hover {
        background: #09ca29;
        color: white;
    }
    
    .trash-btn {
        background: #ffffff;
        color: #ff6f47;
    }
    .trash-btn:hover {
        background: #ff6f47;
        color: white;
    }
    
    .todo-item {
        padding: 0rem 0.5rem;
    }
    
    .fa-trash, .fa-check {
        pointer-events: none;
    }
    
    .complete {
        text-decoration: line-through;
        opacity: 0.5;
    }
    
    .fall {
        transform: translateY(15rem) rotateZ(125deg);
        opacity: 0;
    }
    
}

    /*desktop styling*/
@media (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-image: url("notebook-background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: white;
        color: white; 
        font-family: "Poppins", sans-serif;
        min-height: 100vh;
    }
    
    header {
        font-size: 1.5rem;
    }
    
    header, form {
        min-height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    form input, form button {
        padding: 1rem;
        font-size: 1rem;
        background: white;
    }

    form input {
        width: 30%;
        border: 2px solid black;
    }
    
    
    form button {
        background: #187bd8;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    form button:hover {
        color: #187bd8;
        background: white;
    }
    
    .todo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .todo-list {
        min-width: 30%;
        list-style: none;
    }
    
    .todo {
        margin: 0.5rem;
        background: #ffffff;
        color: black;
        font-size: .75rem;
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease;
    }
    
    .todo li {
        flex: 1;
    }
    
    .trash-btn, .complete-btn {
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
    }
    
    .complete-btn {
        background: #ffffff;
        color: #09ca29;
    }
    .complete-btn:hover {
        background: #09ca29;
        color: white;
    }
    
    .trash-btn {
        background: #ffffff;
        color: #ff6f47;
    }
    .trash-btn:hover {
        background: #ff6f47;
        color: white;
    }
    
    .todo-item {
        padding: 0rem 0.5rem;
    }
    
    .fa-trash, .fa-check {
        pointer-events: none;
    }
    
    .complete {
        text-decoration: line-through;
        opacity: 0.5;
    }
    
    .fall {
        transform: translateY(15rem) rotateZ(125deg);
        opacity: 0;
    }

}
